.Wt {color: dodgerblue;}
.Rs {color: red;}
.Qz {color: lightgray;}
.Au {color: gold;}
.Gs {color: #dc0;}
.Lp {color: blue;}
.Dm {color: powderblue;}
.He {color: lightcoral;}
.Ed {color: teal;}
.Cr {color: deepskyBlue;}
.Fe {color: wheat;}
.Em {color: green;}
.Cu {color: brown;}
.Sn {color: lightsteelblue;}
.Mg {color: pink;}
.air {color: white;}
.cell {color: gray;}
.mod {color: black;}