
body {
  line-height: 150%;
  background-color: var(--red-100);
}

table {
  border-spacing: 1px;
  background-color: black;
  white-space: nowrap;
}

td,
th {
  text-align: center;
  font-weight: normal;
  padding: 4px;

}

h2 {
  display: inline;
  margin-right: 1ch;
}

input {
  text-align: center;
}

#settings {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: row;
}

.part {
  padding: 2%;
}

.part1 {
  background-color: var(--green-200);
}

.part2 {
  background-color: var(--turquoise-300);
}

.part3 {
  background-color: var(--moonstone-400);
}

.part4 {
  background-color: var(--blue-600);
}

.part5 {
  background-color: var(--delft-400);
}

.size-input {
  width: 2rem;
}

.main-inputs {
  margin-top: 10px;
}

.d-menu {
  background-color: var(--turquoise-200);
  position: relative;
  top: 100%;
  overflow: hidden;
}

.d-menu > * {
  border: none;
  outline: none;
  background-color: transparent;
  overflow: hidden;
  height: 1rem;
  width: 100%;
}

.select-button {
  width: 150px;
  transition: all ease 250ms;
}

.search {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
}

.dropdown {
  position: relative;
  top: 8px;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: var(--delft-200);
  box-shadow: 0 14px 35px 0 rgba(9,9,12,0.4);
  transition: all 250ms linear;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dropdown-options {
  overflow-y: scroll;
  max-height: 0;
  transition: all ease 250ms;
}

.dropdown-content input {
  width: 90%;
  margin-left: 50%;
  translate: -50%;
  outline: none;
  border: none;
}

.dropdown-content input {
  width: 90%;
  margin-left: 50%;
  translate: -50%;
  outline: none;
  border: none;
}

.dropdown-content a {
  color: black;
  padding: 5px 8px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: var(--delft-100);
  cursor: pointer;
}

#versionContainer {
  visibility: hidden;
}

.d-block {
  visibility: visible !important;
}

.i-block {
  display: inline-block;
}

.show {
  max-height: 220px;
  padding: 5px;
  width: calc(100%-10px);
  transition: all ease 500ms;
}

.reveal {
  transform: translate(-100%);
  transition: transform 250ms ease;
}

.inline-block {
  display: inline-block;
}