body {
  line-height: 150%;
}

table {
  border-spacing: 1px;
  background-color: black;
  white-space: nowrap;
}

td,
th {
  text-align: center;
  font-weight: normal;
  padding: 4px;
  background-color: white;
}

h2 {
  display: inline;
  margin-right: 1ch;
}

input {
  text-align: center;
}

#settings {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 5%;
}

.size-input {
  width: 2rem;
}

#fuelsMenu {
  background-color:rgb(147, 255, 39);
  position: relative;
  overflow: hidden;
}

#fuelsMenu > * {
  border: none;
  outline: none;
  background-color: transparent;
  overflow: hidden;
  height: 1rem;
  width: 100%;
}

#selectFuels {
  transition: all 500ms ease;
}

#searchFuels {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
}

.dropdown {
  position: relative;
  top: 0;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  z-index: 1;
  background-color: #888;
  display: none;
}

.dropdown-options {
  overflow-y: scroll;
  height: 0;
  transition: all ease 500ms;
}
/* height: 400px; */

.dropdown-content input {
  width: 90%;
  margin-left: 50%;
  translate: -50%;
  outline: none;
  border: none;
}

.dropdown-content input {
  width: 90%;
  margin-left: 50%;
  translate: -50%;
  outline: none;
  border: none;
}

.dropdown-content a {
  color: black;
  padding: 5px 8px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgb(107, 212, 177);
  cursor: pointer;
}

.show {
  height: 400px;
  transition: all ease 500ms;
}

.reveal {
  transform: translate(-100%);
  transition: all 0.5s ease;
}