body {
  line-height: 150%;
}

table {
  border-spacing: 1px;
  background-color: black;
  white-space: nowrap;
}

td, th {
  text-align: center;
  font-weight: normal;
  padding: 4px;
  background-color: white;
}

h2 {
  display: inline;
  margin-right: 1ch;
}

input {
  text-align: center;
}

#settings {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 5%;
}

.size-input {
  width: 2rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 5px 8px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: aquamarine;
  cursor: pointer;
}